/* App.module.css */
@font-face {
    font-family: 'Euphoria Script';
    src: url('./FuenteLetra/EuphoriaScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Euphoria Script', sans-serif; /* Usar 'Euphoria Script' como fuente */
    margin: 0;
    padding: 0;
  }
  

  
  